@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;600;700&display=swap');

:root{
    --cor0: #004C50;
    --cor01: #00939C;
    --cor02: #10ABB4;
    --cor03: #9C3E00;
    --cor04: #502000; 

}


body{
    background-color: var(--cor0);
    margin-left: 20px;
    margin-right: 20px;
}

header{
    background-color: #502000 ;
    text-align: center;
    padding: 13px;
    margin: -20px;
    border-radius: 3px;
}

#logo-texto{
    margin-top: 20px;
}

#lista-cab{
    display: inline;
    color: #502000;

}

a.a-cab{
    color: #10ABB4;
}

.li-cab :hover{
    background-color: #9C3E00;
    border-radius: 5px;
    text-decoration: none;
}

.li-cab{
    display: inline;
    padding: 80px;
    margin-left: 20px ;
    margin-right: 20px;
    color: #502000;
}

#logo-texto{
    display: flex;
    align-items: center;
    
}

@media screen and (max-width: 375px) {
    .imag-teste {
     width: 375px;
     height: 375px;
    }
  }

#imag-cel{
    max-width: 375px;
}

h1{
    font-family: 'Arima', cursive, sans-serif;
    margin: 0%;
    display: flex;
    align-items: center;
    color: #502000;
    font-size: 3em;

}

.texto-cabeçalho{
    
    display: block;
    align-items: center;
    color: #9C3E00;
}

.subtitulo-cabeçalho{
    color: #9C3E00;
}

main{
    background-color: white;
    border-radius: 10px;
}

h2{
    font-family: 'Arima', cursive, sans-serif;
    font-size: 2.5em;
    text-align: center;
    color: #10ABB4;
}



p{
    text-indent: 20px;
    font-size: 2em;
    margin: 4px;
}


section{ 
    border-radius: 20px;
    border: 1px solid black;
    margin: 5px;
    background-image: url('imagens/logo\ final\ certo.png');
    background-repeat: no-repeat;
    background-position: center right;
}
 

section > h2{
    text-align: left;
    text-indent: 20px;
}

#contatiner{ 
    /* colocar de imagem um png legal do papai */
    border-radius: 20px;
    border: 1px solid black;
    margin: 5px;
    background-image: url('imagens/logo\ final\ certo.png');
    background-repeat: no-repeat;
    background-position: center right;
    position: relative;
    width: 95%;
    background-size: cover;
    background-attachment: fixed;
} 



#conteudo{
    background-image: white;
    border: 1px solid black;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 0px 1px 0px black;
    color: white;
}



ul#perguntas{
    list-style: '\1F43E';
}

li{
    text-indent: 10px;
    font-size: 2em;
}

footer{
    font-size: 0.75em;
    background-color: #502000;
    color: white;
    text-align: center;
    width: 100%;
    margin-left: -20px;
    padding-right: 40px;
    margin-bottom: -24px;
   
}

footer > p{
    margin: 0px;
    margin-top: 20px;
}

.p-baixo{
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a.link-git::after{
    content: '\00A0\1F517';
}
span{
    color: #10ABB4;
    background-color: #9C3E00;
    border-radius: 3px;
}

.logos{
    margin-left: 42%;
}